# KalamDB CLI profile used by kalam dev/deploy
# kalam dev fills this automatically for managed local servers; use kalam login for remote servers.
KALAM_PROFILE={{default_profile}}

# Connection settings used by samples and scripts
KALAM_NAMESPACE={{namespace}}
KALAM_USER=root
{{#if local_root_password}}
KALAM_PASSWORD={{local_root_password}}
{{else}}
KALAM_PASSWORD=
{{/if}}
